* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5%;
}

header .fa-chevron-down {
  font-size: 12px;
}

header .navLeft {
  min-width: 650px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .navLeft .logo img {
  width: 130px;
  cursor: pointer;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul .active {
  background-color: #fff1f4;
  color: #f91942;
}
header nav ul li {
  padding: 10px 16px;
  margin: 0 5px;
  border-radius: 20px;
  cursor: pointer;
}

header nav ul li:hover {
  background-color: #fff1f4;
  color: #f91942;
  transition: 0.4s ease;
}

header .navRigth {
  min-width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .navRigth .userNav {
  display: flex;
  align-items: center;
  cursor: pointer;
}

header .navRigth .userNav:hover {
  color: #f91942;
  transition: 0.4s ease;
}

header .navRigth .userNav .dashAva {
  width: 40px;
  border-radius: 50px;
}

header .navRigth .userNav > p {
  margin: 0 10px;
}

header .navRigth .userBtn {
  padding: 12px 20px;
  border: 1px solid #f91942;
  border-radius: 25px;
  color: #f91942;
  cursor: pointer;
  font-weight: 600;
}

header .navRigth .userBtn:hover {
  color: #fff1f4;
  background-color: #f91942;
  transition: 0.4s ease;
}

header .navRigth .userBtn p .fa-plus {
  font-size: 8px;
  border: 1px solid;
  border-radius: 50%;
  padding: 3px;
}

.sectionOne {
  width: 100%;
  height: min-content;
  border: 1px solid #000;
}
.sectionOne .oneBg {
  width: 100%;
  height: 600px;
  gap: 15px;
  background: url(img/sec.png) no-repeat center / cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.sectionOne .oneBg .oneLeft {
  width: 600px;
  height: 600px;
  margin: 80px 0;
}
.sectionOne .oneBg .oneLeft > h1 {
  font-size: 40px;
  margin: 50px 0 20px 0;
}

.sectionOne .oneBg .oneLeft > p {
  font-size: 23px;
  margin: 0 0 150px 0;
}
.sectionOne .oneBg .oneLeft > b {
  font-size: 18px;
}
.sectionOne .oneBg .oneLeft > span {
  background: #111111;
  color: #fff;
  padding: 8px 16px;
  border-radius: 20px;
}
.sectionOne .oneBg .oneLeft .oneSearch {
  position: absolute;
  border-radius: 50px;
  top: 350px;
  width: clamp(500px, 100%, 1100px);
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;
  gap: 7%;
}
.sectionOne .oneBg .oneLeft .oneSearch > input:nth-child(1) {
  padding: 15px 0;
  width: 23%;
  border: none;
  border-radius: 30px;
}
.sectionOne .oneBg .oneLeft .oneSearch > input:nth-child(2) {
  padding: 15px 0;
  width: 23%;
  border: none;
}
.sectionOne .oneBg .oneLeft .oneSearch :nth-child(3) {
  padding: 15px 20px;
  width: 15%;
  color: #000;
}
.sectionOne .oneBg .oneLeft .oneSearch > input:nth-child(4) {
  padding: 15px 0;
  width: 13%;
  border-radius: 30px;
  background: #f91942;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
.sectionOne .oneBg .oneRigth {
  width: 500px;
  height: 600px;
  background: url(img/category-box-01.jpg) no-repeat center / 100%;
  margin: 80px 0;
  border-radius: 14px;
}
.sectionTwo {
  width: 100%;
  height: 500px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionTwo .twoBg {
  width: 80%;
  border: 1px solid #000;
}
.sectionTwo .twoBg .twoHead > h2 {
  font-size: 30px;
  font-weight: normal;
  margin: 100px 0 20px 0;
}

.sectionTwo .twoBg .twoHead > hr {
  width: 60px;
  background: #f91942;
  border: 1px solid #f91942;
}
.sectionTwo .twoBg .twoBox {
  width: 100%;
  border: 1px solid;
  display: flex;
  justify-content: space-around;
}
.sectionTwo .twoBg .twoBox .tbox {
  width: 200px;
  height: 200px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sectionTwo .twoBg .twoBox .tbox .tbx {
}

.sectionTwo .twoBg .twoBox .tbox .tbx i {
  font-size: 50px;
  color: #f91942;
}

.sectionTwo .twoBg .twoBox .tbox .tbx p {
  font-size: 16px;
  margin: 8px 0;
}

.sectionTwo .twoBg .twoBox .tbox .tbx span {
  border-radius: 20px;
  padding: 2px 8px;
  background: #d9d9d9;
}
