footer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
footer .footerBox {
  width: 1024px;
  /* height: 350px; */
  display: flex;
  justify-content: space-around;
}
footer .footerBox .leftBox {
  width: 30%;
  padding: 30px;
}
footer .footerBox .leftBox img {
  width: 130px;
}

footer .footerBox .leftBox p {
  font-size: 16px;
  color: #696969;
  line-height: 25px;
  margin: 30px 0;
}

footer .footerBox .centerBox {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 30px;
}
footer .footerBox .centerBox h4 {
  font-size: 20px;
  font-weight: normal;
}
footer .footerBox .centerBox .centerUl {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

footer .footerBox .centerBox .centerUl li {
  padding: 6px 0;
  font-size: 16px;
  color: #696969;
}

footer .footerBox .rightBox {
  width: 30%;
  padding: 30px;
}

footer .footerBox .rightBox h4 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 15px;
}

footer .footerBox .rightBox p {
  font-size: 16px;
  color: #696969;
  padding: 6px 0;
}

footer .footerBox .rightBox p span {
  color: #f91942;
}
footer .footerBox .rightBox .rigIcon {
  margin: 20px 0;
}
footer .footerBox .rightBox .rigIcon i {
  font-size: 18px;
  margin: 0 10px;
  color: #696969;
}
footer .fotbot {
  width: 80%;
  text-align: center;
}
footer .fotbot hr {
  border: 1px solid #696969;
  margin: 40px 0;
}
footer .fotbot p {
  font-size: 16px;
  color: #696969;
}
@media screen and (min-width: 1440px) {
  footer .footerBox {
    width: 1120px;
    height: 350px;
    display: flex;
  }
}
@media screen and (max-width: 1024px) {
  footer .footerBox {
    width: 95%;
  }
  footer .footerBox .leftBox {
    width: 330px;
  }
  footer .footerBox .centerBox {
    width: 330px;
  }
  footer .footerBox .rightBox {
    width: 330px;
  }
}
@media screen and (max-width: 990px) {
  footer .footerBox {
    width: 95%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
