.sectionFour {
  width: 100%;
  background: #d9d9d949;
  padding: 100px 0;
}

.sectionFour .fourHead {
  width: 50%;
  margin: 0px 25% 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sectionFour .fourHead h2 {
  font-size: 30px;
  font-weight: normal;
}

.sectionFour .fourHead p {
  font-size: 20px;
  font-weight: normal;
  color: #888888;
  padding: 30px 0;
}

.sectionFour .slideTxt {
  width: 90%;
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
}

.sectionFour .slideTxt .sld {
  width: 33%;
}
.sectionFour .slideTxt .sld .txtbox {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.sectionFour .slideTxt .sld .txtbox i {
  font-size: 40px;
  margin: 10px 30px;
}
.sectionFour .slideTxt .sld .txtbox p {
  font-size: 16px;
  width: 70%;
  line-height: 35px;
}

.sectionFour .slideTxt .sld .authors {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.sectionFour .slideTxt .sld .authors img {
  width: 65px;
  border-radius: 50%;
  border: 4px solid #d9d9d990;
  margin: 15px 0 0 0;
}

.sectionFour .slideTxt .sld .authors span {
  padding: 6px 12px;
  border-radius: 15px;
  background: #f9ebee;
  color: #f91942;
  font-size: 10px;
  letter-spacing: 2px;
}
