.sectionOne {
  width: 100%;
}
.sectionOne .oneBg {
  width: 100%;
  height: 600px;
  gap: 15px;
  background: url(img/sec.png) no-repeat center / cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.sectionOne .oneBg .oneLeft {
  width: 600px;
  height: 600px;
  margin: 80px 0;
  display: flex;
  flex-direction: column;
}
.sectionOne .oneBg .oneLeft .oneHead h1 {
  font-size: 40px;
  margin: 50px 0 20px 0;
}
.sectionOne .oneBg .oneLeft .oneHead h1 span {
  font-size: 40px;
}
.sectionOne .oneBg .oneLeft .oneHead p {
  font-size: 23px;
  margin: 0 0 150px 0;
}
.sectionOne .oneBg .oneLeft .oneIcon b {
  font-size: 18px;
}
.sectionOne .oneBg .oneLeft .oneIcon .headicons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.sectionOne .oneBg .oneLeft .oneIcon a {
  background: #111111;
  color: #fff;
  padding: 10px 16px;
  border-radius: 20px;
  margin: 5px;
}
.sectionOne .oneBg .oneLeft .oneSearch {
  border-radius: 50px;
  position: absolute;
  margin: 190px 0 0;
  width: 1110px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;
  gap: 3%;
  z-index: 9;
}
.sectionOne .oneBg .oneLeft .oneSearch > input:nth-child(1) {
  padding: 15px 0;
  width: 23%;
  border: none;
}

.sectionOne .oneBg .oneLeft .oneSearch > input:nth-child(2) {
  padding: 15px 0;
  width: 23%;
  border: none;
}
.sectionOne .oneBg .oneLeft .oneSearch :nth-child(3) {
  padding: 15px 0;
  width: 25%;
  border: none;
}
.sectionOne .oneBg .oneLeft .oneSearch > input:nth-child(4) {
  padding: 15px 0;
  width: 13%;
  border-radius: 30px;
  background: #f91942;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
.sectionOne .oneBg .slider {
  position: relative;
  width: min-content;
}
.sectionOne .oneBg .slider .dots {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 600px;
  left: 220px;
}
.sectionOne .oneBg .slider .dots .dot {
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.sectionOne .oneBg .slider .dots .dot:hover {
  background: #fff;
}
.sectionOne .oneBg .slider .dots .selected {
  background: #fff;
}
.sectionOne .oneBg .slider .cutter {
  width: 500px;
  border-radius: 14px;
  overflow: hidden;
}
.sectionOne .oneBg .slider .cutter .wrapper {
  width: max-content;
  border-radius: 14px;
}
.sectionOne .oneBg .slider .cutter .wrapper img {
  transition: 600ms transform ease-in-out;
  float: left;
  width: 500px;
  height: 600px;
  margin: 80px 0 0;
  border-radius: 14px;
}
@media screen and (max-width: 1360px) {
  .sectionOne .oneBg .oneLeft {
    width: 500px;
    height: 600px;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
  }
  .sectionOne .oneBg .slider .cutter {
    width: 500px;
    border-radius: 14px;
    overflow: hidden;
  }
  .sectionOne .oneBg .slider .cutter .wrapper img {
    transition: 600ms transform ease-in-out;
    float: left;
    width: 500px;
    height: 600px;
    margin: 80px 0 0;
    border-radius: 14px;
  }
  .sectionOne .oneBg .oneLeft .oneSearch {
    border-radius: 50px;
    width: 1010px;
    position: absolute;
    padding: 0 10px;
    margin: 210px 0 0;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    gap: 0;
    z-index: 9;
  }
}
@media screen and (max-width: 1240px) {
  .sectionOne .oneBg .oneLeft {
    width: 450px;
    height: 550px;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
  }
  .sectionOne .oneBg .slider .cutter {
    width: 450px;
    border-radius: 14px;
    overflow: hidden;
  }
  .sectionOne .oneBg .slider .cutter .wrapper img {
    transition: 600ms transform ease-in-out;
    float: left;
    width: 450px;
    height: 550px;
    margin: 80px 0 0;
    border-radius: 14px;
  }
  .sectionOne .oneBg .slider .dots {
    top: 560px;
    left: 200px;
  }
  .sectionOne .oneBg .oneLeft .oneSearch {
    border-radius: 50px;
    width: 910px;
    position: absolute;
    padding: 0 10px;
    margin: 230px 0 0;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    gap: 0;
    z-index: 9;
  }
}
@media screen and (max-width: 1024px) {
  .sectionOne .oneBg {
    width: 100%;
    height: 700px;
    gap: 15px;
    background: url(img/sec.png) no-repeat center / cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
  }
  .sectionOne .oneBg .oneLeft {
    width: 450px;
    height: 550px;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
  }
  .sectionOne .oneBg .slider .cutter {
    width: 450px;
    border-radius: 14px;
    overflow: hidden;
  }
  .sectionOne .oneBg .slider .cutter .wrapper img {
    transition: 600ms transform ease-in-out;
    float: left;
    width: 450px;
    height: 550px;
    margin: 80px 0 0;
    border-radius: 14px;
  }
}

@media screen and (max-width: 990px) {
  .sectionOne .oneBg .slider {
    display: none;
  }
  .sectionOne .oneBg .oneLeft {
    width: 768px;
    height: 600px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sectionOne .oneBg .oneLeft .oneSearch {
    border-radius: 50px;
    margin: 0;
    position: relative;
    width: 768px;
    height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    background: none;
    gap: 7%;
    z-index: 9;
  }
  .sectionOne .oneBg .oneLeft .oneHead {
    position: relative;
  }
  .sectionOne .oneBg .oneLeft .oneHead p {
    font-size: 23px;
    margin: 0 0 25px 0;
  }
  .sectionOne .oneBg .oneLeft .oneSearch > input:nth-child(1) {
    padding: 17px 10px;
    width: 100%;
    border: none;
    box-shadow: 0 0 1px #000;
  }

  .sectionOne .oneBg .oneLeft .oneSearch > input:nth-child(2) {
    padding: 17px 10px;
    width: 100%;
    margin: 0;
    border: none;
    box-shadow: 0 0 1px #000;
  }
  .sectionOne .oneBg .oneLeft .oneSearch :nth-child(3) {
    padding: 17px 10px;
    width: 100%;
    border: none;
    box-shadow: 0 0 1px #000;
  }
  .sectionOne .oneBg .oneLeft .oneSearch > input:nth-child(4) {
    padding: 15px 0;
    width: 120px;
    border-radius: 30px;
    background: #f91942;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
  }
  .sectionOne .oneBg .oneLeft .oneIcon b {
    font-size: 16px;
  }
  .sectionOne .oneBg .oneLeft .oneIcon a {
    background: #111111;
    color: #fff;
    padding: 6px 12px;
    border-radius: 20px;
    margin: 5px;
  }
}
@media screen and (max-width: 768px) {
  .sectionOne .oneBg .oneLeft .oneSearch {
    border-radius: 50px;
    margin: 0;
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    background: none;
    gap: 7%;
    z-index: 9;
  }
  .sectionOne .oneBg .oneLeft .oneHead h1 {
    font-size: 25px;
    margin: 50px 0 20px 0;
  }
  .sectionOne .oneBg .oneLeft .oneHead p {
    font-size: 18px;
    margin: 0 0 25px 0;
  }
  .sectionOne .oneBg .oneLeft .oneHead h1 span {
    font-size: 25px;
  }
}
