.sectionOne {
  width: 100%;
  height: min-content;
}
.sectionOne .oneBg {
  width: 100%;
  height: 600px;
  gap: 15px;
  background: url(img/sec.png) no-repeat center / cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.sectionOne .oneBg .oneLeft {
  width: 600px;
  height: 600px;
  margin: 80px 0;
  display: flex;
  flex-direction: column;
}
.sectionOne .oneBg .oneLeft .oneHead h1 {
  font-size: 40px;
  margin: 50px 0 20px 0;
}

.sectionOne .oneBg .oneLeft .oneHead p {
  font-size: 23px;
  margin: 0 0 150px 0;
}
.sectionOne .oneBg .oneLeft .oneIcon b {
  font-size: 18px;
}
.sectionOne .oneBg .oneLeft .oneIcon span {
  background: #111111;
  color: #fff;
  padding: 8px 16px;
  border-radius: 20px;
}
.sectionOne .oneBg .oneLeft .oneSearch {
  border-radius: 50px;
  position: absolute;
  margin: 190px 0 0;
  width: clamp(500px, 100%, 1100px);
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;
  gap: 7%;
  z-index: 9;
}
.sectionOne .oneBg .oneLeft .oneSearch > input:nth-child(1) {
  padding: 15px 0;
  width: 23%;
  border: none;
}

.sectionOne .oneBg .oneLeft .oneSearch > input:nth-child(2) {
  padding: 15px 0;
  width: 23%;
  border: none;
}
.sectionOne .oneBg .oneLeft .oneSearch :nth-child(3) {
  padding: 15px 20px;
  width: 15%;
  color: #000;
}
.sectionOne .oneBg .oneLeft .oneSearch > input:nth-child(4) {
  padding: 15px 0;
  width: 13%;
  border-radius: 30px;
  background: #f91942;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
.sectionOne .oneBg .slider {
  position: relative;
  width: min-content;
}
.sectionOne .oneBg .slider .dots {
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 600px;
  left: 220px;
}
.sectionOne .oneBg .slider .dots .dot {
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.sectionOne .oneBg .slider .dots .dot:hover {
  background: #fff;
}
.sectionOne .oneBg .slider .dots .selected {
  background: #fff;
}
.sectionOne .oneBg .slider .cutter {
  width: 500px;
  border-radius: 14px;
  overflow: hidden;
}
.sectionOne .oneBg .slider .cutter .wrapper {
  width: max-content;
  border-radius: 14px;
}
.sectionOne .oneBg .slider .cutter .wrapper img {
  transition: 600ms transform ease-in-out;
  float: left;
  width: 500px;
  height: 600px;
  margin: 80px 0 0;
  border-radius: 14px;
}
